---
layout: default
title: Randomness
---

<div class="page">
	<h1 class="title">Randomness</h1>

	<div class="pages-list">
		<ul>
			{% for page in site.pages %}
			{% assign dir = page.path | split: "/" | first %}
			{% if dir == "randomness" %}
			<li>
				<a class="title imagelayered small blocklink" href="{{ page.url }}">
					<div class="fg"><h3>{{ page.title }}</h3></div>
					<div class="bg" style="background-image:url({{ page.image }});"></div>
				</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
