@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

@import "variables";
@import "bourbon/bourbon";
@import "neat/neat";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";

@import "font-awesome/font-awesome";

body {
    background-color: $base-background-color;
    margin: 0;
}

.header {
    @include outer-container; padding: $base-spacing 0px;

    a       { color: $black3; }
    a:hover { color: $black5; }

    .site-title {
        @include span-columns(4); padding: $small-spacing;
        h1 {
            font-weight: 300; font-size: 20px; line-height: 1;
            margin: 0; padding: 0;
        }
    }

    .nav {
        @include span-columns(8); padding: $small-spacing;
        text-align: right;
        ul { margin: 0; padding: 0; }
        li { font-weight: 300; font-size: 17px; line-height: 1;
             margin: 0 0 0 $base-spacing; padding: 0;
             display: inline-block; }
    }
}

.footer {
    margin-top: 100px;
}

.content-container {
    @include outer-container; padding: $small-spacing;
}


/*-------------------------------------------------------------------------------*/

.page, .post {
    @include outer-container;
    padding: 0 $small-spacing;

    .page-image   {
        margin: $base-spacing 0;
        img { max-height: 200px; box-shadow: 0px 0px 3px rgba(0,0,0,0.3); }
    }

    .title.imagelayered {
        position: relative; height: auto;
        .bg { width: 100%; height: 100%; background-color: $black2; background-position: 50% 0%; background-size: cover; }
        .bgcover { width: 100%; height: 100%; background-color: rgba(0,0,0,0.4); }
        .fg { width: 100%; height: auto; padding: 200px $small-spacing $small-spacing; }
        color: $white2; text-shadow: 0px -1px 0px $black1;
        a { color: inherit; }
    }
    .title.imagelayered.small {
        a { display: block; }
        .bg { background-position: 50% 20%; }
        .bgcover { transition: background-color $base-duration $base-timing; }
        .fg { padding: 40px $small-spacing 40px; }
        a:hover .bgcover { background-color: rgba(100,100,100,0.4); }
    }

    .content { 
        text-align: justify; 
    }

    .CodeRay {
        background: lighten($white1, 5%);
        padding: 4px 8px;
    }
}


nav.oldernewer {
    border-top: 1px solid $white0;
    box-shadow: 0px -1px 0px $white2;
    margin: $base-spacing*2 0;
    padding: $base-spacing 0;
    @include clearfix;
    .older { float: left;  text-align: left;  }
    .newer { float: right; text-align: right; }
}

.pages-list {
    li     { margin-bottom: $base-spacing; @include clearfix; }
    .image { 
        display: table-cell; vertical-align: top;
        width: 64px; height: 64px;
        padding: 0 $small-spacing $small-spacing 0;
    }
    .info  {
        display: table-cell; vertical-align: top; 
        .meta  { color: $black4; line-height: 1; margin: 0 0 $base-spacing/4 0;}
        h3     { margin: 0; padding: 0; }
    }
}



/*-------------------------------------------------------------------------------*/
.greeter {
    @include outer-container;
    position: relative; height: auto;

    .bg {
        width: 100%; height: 100%;
        background: url("/images/greeter.jpg") $black5;
        background-position: 50% 50%;
    }
    .bgcover {
        width: 100%; height: 100%;
        background-color: rgba(0,0,0,0.4);
    }
    .fg {
        width: 100%; height: auto;
        padding: 200px $base-spacing;
        color: $white2;
        font-weight: 300;
        a { color: $white2; }
        a:hover { color: $white4; }
        .links {
            a { display: inline-block; text-align: center; margin: $base-spacing $base-spacing 0 0; }
            font-size: 14px;
            .icon, .text { display: block; }
        }
    }
}
