@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

@import "variables";
@import "bourbon/bourbon";
@import "neat/neat";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";

@import "font-awesome/font-awesome";

body {
    background-color: $base-background-color;
    margin: 0;
}

.header {
    @include outer-container; padding: $base-spacing*2 $base-padding;

    a       { color: $black3; }
    a:hover { color: $black5; }

    .site-title {
        @include span-columns(4);
        h1 {
            font-weight: 300; font-size: 20px; line-height: 1;
            margin: 0; padding: 0;
        }
    }

    .nav {
        @include span-columns(8);
        text-align: right;
        ul { margin: 0; padding: 0; }
        li { font-weight: 300; font-size: 17px; line-height: 1;
             margin: 0; padding: 0 0 0 $base-padding;
             display: inline-block; }
    }
}

.footer {
    margin-top: 100px;
}


/*-------------------------------------------------------------------------------*/

.page, .post {
    @include outer-container; padding: 0 $base-padding;

    .page-image   {
        margin: $base-spacing 0;
        img { box-shadow: 0px 0px 3px rgba(0,0,0,0.3); }
    }

    &.category-music .page-image {
        img { max-width: 50%; }
    }

    .title.imagelayered {
        width: 100%; height: auto; position: relative;
        padding: 200px $small-padding $small-spacing;
        .bg { 
            position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: -1;
            background-color: $black2; background-position: 50% 0%; background-size: cover;
            @include filter(grayscale(50%) brightness(50%));
        }
        color: $white2; text-shadow: 0px -1px 0px $black1;
        h1,h2,h3,h4,h5,h6,a { color: inherit; margin: 0; padding: 0; }
    }

    .title.imagelayered.small {
        padding: $base-spacing $small-padding;
        .bg { background-position: 50% 20%; }
    }

    a.title.imagelayered {
        color: $white2;
        .bg { @include filter(grayscale(100%) brightness(50%)); @include transition(all $base-duration $base-timing); }
    }
    a.title.imagelayered:active,
    a.title.imagelayered:focus, 
    a.title.imagelayered:hover {
        color: $white1;
        .bg { @include filter(grayscale(50%) brightness(50%)); }
    }

    .content {
        text-align: justify;
    }

    .CodeRay {
        background: lighten($white1, 5%);
        padding: 4px 8px;
    }
}


nav.oldernewer {
    border-top: 1px solid $white0;
    box-shadow: 0px -1px 0px $white2;
    margin: $base-spacing*2 0;
    padding: $base-spacing 0;
    @include clearfix;
    .older { float: left;  text-align: left;  }
    .newer { float: right; text-align: right; }
}

.pages-list {
    li     { margin-bottom: $base-spacing; @include clearfix; }
    .image {
        display: table-cell; vertical-align: top;
        width: 64px; height: 64px;
        a {
            background: $black5;
            background-size: cover;
            background-position: 0% 0%;
        }
    }
    .info  {
        display: table-cell; vertical-align: top;
        padding-left: $small-padding;
        .meta  { color: $black4; line-height: 1.5; margin: 0; }
        h3     { margin: 0; padding: 0; }
    }
}



/*-------------------------------------------------------------------------------*/
.greeter {
    width: 100%; height: auto; position: relative;
    padding: 200px $base-padding;

    color: $white2;
    a        { color: inherit; }
    a:hover  { color: $white0; }
    .tagline { font-size: 16px; margin-bottom: $small-spacing; }
    .links   { font-size: 14px;
        .icon, .text { display: block; }
        a { display: inline-block; text-align: center; margin: 0 $base-padding 0 0; }
    }

    .bg {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: -1;
        background: url("/images/greeter.jpg") $black5;
        background-position: 50% 50%;
        background-size: cover;
        @include filter(grayscale(60%) contrast(80%) brightness(80%));
    }
}
