body {
    color: $base-font-color;
    font-family: $base-font-family;
    font-feature-settings: "kern", "liga", "pnum";
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-size: $base-font-size;
    line-height: $heading-line-height;
    margin: $small-spacing 0;
    font-weight: $bold-font-weight;
    color: $bold-font-color;
}

h1 { font-size: $base-font-size * 1.5; }
h2 { font-size: $base-font-size * 1.4; }
h3 { font-size: $base-font-size * 1.3; }

h1.title { font-size: $base-font-size*2; text-shadow: 0px 1px 0px $white0; margin-top: 0; }
h1.title a:link, h1.title a:visited, h1.title a:hover    { color: $base-font-color; }

p, pre, .CodeRay, table {
    margin: 0 0 $small-spacing;
}

a {
    color: $action-color;
    text-decoration: none;
    transition: color $base-duration $base-timing;
    &:visited { color: shade(adjust-hue($action-color, 10deg), 25%); }
    &:active, &:focus, &:hover { color: shade($action-color, 25%); }
}
a.blocklink { display: block; width: 100%; height: 100%; }

hr {
    border-top: $base-border;
    border-left: 0;
    border-bottom: 1px solid $white0;
    border-right: 0;
    margin: $base-spacing 0;
}

img, picture {
    margin: 0;
    max-width: 100%;
}

pre, code, .CodeRay {
    font-family: Inconsolata, monospace;
}

pre, .CodeRay {
    font-size: 12px;
    line-height: 1.4;
}

code {
    font-size: 92%;
    background: lighten($white1, 5%);
    padding: 0 0.3em;
    border-radius: 2px;
    border: 1px solid $white3;
}

thead, th {
    font-weight: $bold-font-weight;
    color: $bold-font-color;
}

td, th {
    padding: $small-spacing/2 $small-spacing;
    text-align: left;
}

table.definitions {
    table-layout: auto;
    tr td:first-child, tr th:first-child { width: 20%; white-space: nowrap; }
    tr td:last-child,  tr th:last-child  { width: 80&; }
}

table.ratio28 {
    table-layout: fixed;
    tr td:first-child, tr th:first-child { width: 20%; }
    tr td:last-child,  tr th:last-child  { width: 80&; }
}
table.ratio37 {
    table-layout: fixed;
    tr td:first-child, tr th:first-child { width: 30%; }
    tr td:last-child,  tr th:last-child  { width: 70&; }
}
