// Typography
$base-font-family: "Roboto Slab", sans-serif;
$heading-font-family: $base-font-family;

$base-font-size: 1em;
$base-font-weight: 300;
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$black0: #000000;
$black1: #141414;
$black2: #282828;
$black3: #4f4f4f;
$black4: #626262;
$black5: #767676;
$black6: #898989;
$black7: #9d9d9d;
$black8: #b1b1b1;
$black9: #c4c4c4;
$black10: #d8d8d8;
$black11: #ebebeb;
$black12: #ffffff;
$white12: #000000;
$white11: #141414;
$white10: #282828;
$white9: #4f4f4f;
$white8: #626262;
$white7: #767676;
$white6: #898989;
$white5: #9d9d9d;
$white4: #b1b1b1;
$white3: #c4c4c4;
$white2: #d8d8d8;
$white1: #ebebeb;
$white0: #ffffff;

$base-font-color: $black2;

$action-color: $blue;
$base-border-color: $white8;
$base-border: 1px solid $base-border-color;
$base-background-color: $white1;
$secondary-background-color: tint($base-border-color, 75%);
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$base-duration: 150ms;
$base-timing: ease;

$fa-font-path: "../../fonts";
