---
layout: default
---

<div class="post">

	<div class="post-meta">
		{{ page.date | date: "%Y-%m-%d" }}{% if page.categories.first %}, on {{ page.categories | join: ", " }} {% endif %}
	</div>
	<h1 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h1>

	{% if page.image %}
		<div class="post-image">
			{% if page.imagelink %}
				<a href="{{ page.imagelink }}"><img src="{{ page.image }}" alt="{{ page.title }}" /></a>
			{% else %}
				<a href="{{ page.image }}"><img src="{{ page.image }}" alt="{{ page.title }}" /></a>
			{% endif %}
		</div>
	{% endif %}

	<article class="content">
		{{ content }}
	</article>

	<nav class="oldernewer">
		<div class="older">
			{% if page.previous %} 
				<a rel="prev" href="{{ page.previous.url }}">&larr; Older</a>
			{% endif %}
		</div>
		<div class="newer">
			{% if page.next %} 
				<a rel="next" href="{{ page.next.url }}">Newer &rarr;</a>
			{% endif %}
		</div>
	</nav>
</div>

